<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title></title>
     <meta name="letter" value="description" content="" />
     <meta name="letter" value="author" content="Lyman Johnson" />
     <meta name="letter" value="HandheldFriendly" content="true" />
     <meta name="letter" value="MobileOptimized" content="320" />
     <!-- Use maximum-scale and user-scalable at your own risk. It disables pinch/zoom. Think about usability/accessibility before including.-->
     <!-- <meta name="letter" value="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
     <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="style.css">
   </head>
   <body>
    <p>Welcome, {{playerData.player}}</p>
    <p>Lives:{{playerData.lives}}</p>
    <p>Score:{{playerData.score}}</p>
    <p class="caps">Word: {{#playerData.visibleWord}}  {{.}}  {{/playerData.visibleWord}}</p>
    <p class="caps">(Debug) Word:{{#playerData.wordArray}}  {{.}}  {{/playerData.wordArray}}</p>
    <p class="caps">Guess: {{#playerData.guesses}}  {{.}}  {{/playerData.guesses}}</p>

    <p>{{playMessage}}</p>

    <form action="/new" method="post">
      <button type="submit" name="difficulty" value="easy">New Easy Word</button>
      <button type="submit" name="difficulty" value="medium">New Medium Word</button>
      <button type="submit" name="difficulty" value="hard">New Hard Word</button>
    </form>

    {{#playerData.word}}
    <form action="/guess" method="post">
    <ul id="topRow">
      <li><button type="submit" name="letter" value="q">q</button></li>
      <li><button type="submit" name="letter" value="w">w</button></li>
      <li><button type="submit" name="letter" value="e">e</button></li>
      <li><button type="submit" name="letter" value="r">r</button></li>
      <li><button type="submit" name="letter" value="t">t</button></li>
      <li><button type="submit" name="letter" value="y">y</button></li>
      <li><button type="submit" name="letter" value="u">u</button></li>
      <li><button type="submit" name="letter" value="i">i</button></li>
      <li><button type="submit" name="letter" value="o">o</button></li>
      <li><button type="submit" name="letter" value="p">p</button></li>
    </ul>
    <ul id="midRow">
      <li><button type="submit" name="letter" value="a">a</button></li>
      <li><button type="submit" name="letter" value="s">s</button></li>
      <li><button type="submit" name="letter" value="d">d</button></li>
      <li><button type="submit" name="letter" value="f">f</button></li>
      <li><button type="submit" name="letter" value="g">g</button></li>
      <li><button type="submit" name="letter" value="h">h</button></li>
      <li><button type="submit" name="letter" value="j">j</button></li>
      <li><button type="submit" name="letter" value="k">k</button></li>
      <li><button type="submit" name="letter" value="l">l</button></li>
    </ul>
    <ul id="bottomRow">
      <li><button type="submit" name="letter" value="z">z</button></li>
      <li><button type="submit" name="letter" value="x">x</button></li>
      <li><button type="submit" name="letter" value="c">c</button></li>
      <li><button type="submit" name="letter" value="v">v</button></li>
      <li><button type="submit" name="letter" value="b">b</button></li>
      <li><button type="submit" name="letter" value="n">n</button></li>
      <li><button type="submit" name="letter" value="m">m</button></li>
    </ul>
  </form>
  {{/playerData.word}}

   <script type="text/javascript" src="main.js"></script>

   </body>
 </html>
